body {
    background: #78DBE2;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.ProjectName{
    color: white;
}
.textField{
    border: 1px solid white;
    border-radius: 5px;
    width: 230px;
    height: 30px;

}
.buttonAdd{
    height: 33.33px;
    background: #4484C1;
    border: none;
    border-radius:5px ;
}

.buttonAdd:hover{
    cursor: pointer;
    background: #4418FF;
    
}
