body {
    background: #78DBE2;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}
.ProjectName{
    color: white;
}
.textField{
    border: 0px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
    margin: 5px;
    width: 230px;
    height: 34px;

}
.buttonAdd{
    height: 34px;
    width: 65px;
    background: #4484C1;
    border: none;
    padding: 0px;
    border-radius:5px ;
}
.Tasks{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container{
    display: flex;
}
.task{
    background: white;
    width: 230px;
    height: 34px;
    border: 0px ;

    
    margin-top: 20px;
    margin-left:5px;
    text-align: center;
    
    
}
.garbage{
    border: 0px;
    border-radius:5px ;
    background: red;
    height: 34px;
    width: 65px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    
}
.icon{
    margin-top: 2px;
    width: 30px;
}