body {
    background: #78DBE2;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}
.ProjectName{
    color: white;
}
.textField{
    border: 0px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
    margin: 5px;
    width: 230px;
    height: 34px;

}
.buttonAdd{
    height: 34px;
    width: 65px;
    background: #4484C1;
    border: none;
    padding: 0px;
    border-radius:5px ;
}
.Tasks{
    height: 100%;
    width: 100%;
}